:host{
    display: block;
   
}
.label {
    position: relative;
    top: -5px;
    margin-left: 20px;
    color: navy;
    font-size: larger;
    font-family: sans-serif;
}
.is-selected{
    background: rgb(218 228 250) !important;
}
.option-wrapper {
    position: relative;
    top: 8px;
    display: flex;
    align-items: baseline;
    padding: 0 15px;
    margin: 5px;
    border-radius: 4px;
    background: transparent;
    &:hover {
        background-color: #f5f7f9;
    }
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
}