<!-- selectedVal: {{selectedVal?.name | json}} -->
<form [formGroup]="parentForm">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name">
    </div>

    <ngiron-custom-drop-down [options]="countries" formControlName="country">
        <ng-template #optTmp let-country>
            <!-- Here you can replace my cutom-option with yours -->
            <custom-option 
                [country]="country" 
                (selected)="handleOptionSelected(country)" 
                [isSelected]="selectedVal?.name==country.name">
            </custom-option>
        </ng-template>
    </ngiron-custom-drop-down>

    <div class="form-group">
        <label for="name">Address</label>
        <input type="text" id="address" formControlName="address">
    </div>

</form>