:host {
    display: block;
    width: 280px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #dde336;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 8px 16px;

    &:focus {
        outline: none;
        border-color: #0dacfc;
        box-shadow: 0 0 2px 2px rgba(13, 172, 252, 0.5);
    }

    &::placeholder {
        color: #ccd2d4;
    }
    &.ng-invalid {
        border-color: #fd310d;
        box-shadow: 0 0 2px 2px rgba(253, 49, 13, 0.5);
    }

}
input {
    border: none;
}