<div dropdown>
    <input type="text" 
            [ngModel]="value" 
            [disabled]="isDisabled" 
            (ngModelChange)="onFilter($event)" 
            (blur)="onTouched()"
    />
    <ul>
        <li *ngFor="let option of filteredOptions" (click)="onSelect(option)">
            <ng-container 
                [ngTemplateOutlet]="optTmpRef"
                [ngTemplateOutletContext]="{ $implicit: option }">
            </ng-container>
        </li>
    </ul>
</div>
<!-- <div dropdown>
    <input type="text" 
            [ngModel]="value" 
            [disabled]="isDisabled" 
            (ngModelChange)="onFilter($event)" 
            (blur)="onTouched()"
    />
    <ul>
        <li *ngFor="let option of filteredOptions" (click)="onSelect(option)">
            <ng-container 
                [ngTemplateOutlet]="optTmpRef"
                [ngTemplateOutletContext]="{ $implicit: option }">
            </ng-container>
        </li>
    </ul>
</div> -->